<div class="container px-0 py-3">
  <div class="list-group">
    <% @articles.each do |article| %>
    <div class="w-100 justify-content-between border border-primary border-1 p-3 m-2" >
      <h2 class="mb-1"><%= link_to(article.title, article_path(article)) %></h1>
      <p class="mb-1"><%= article.content %></p>
    </div>
    <% end %>
  </div>
</div>
